<a href="https://colab.research.google.com/github/PRyuC/Pascal_INFO5502_Summer2022/blob/main/INFO_5502_Final_Exam_Summer_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### INFO 5502 Final Exam (05/12/2022, 500 points in total)

<span style='background:yellow'>**Question 1 (100 pt).**</span> We want to create a birthday frequency graph using the data on births in the United States, provided by the Centers for Disease Control (CDC). You can download the data from my GitHub link:https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/births.csv 

Please visualize the data as the following figure using python (you can use any data visualization packages):

In [1]:
#### You code here

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/births.csv')

In [20]:
df.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [5]:
df = df.dropna()
df['day'] = df['day'].astype(int)

df.head()

   year  month  day gender  births
0  1969      1    1      F    4046
1  1969      1    1      M    4440
2  1969      1    2      F    4454
3  1969      1    2      M    4548
4  1969      1    3      F    4548

<span style='background:yellow'>**Question 2 (100 pt).**</span> Write a python program to evaluate the text classification performance using accuracy, precision, recall, and f1 score. 

Accuracy = (TP + TN) / (TP+ TN+ FP+ FN)

Recall = (TP) / (TP+FN)

Precision = (TP) / (TP+FP)

F1 Score = (2*Precision*Recall) / (Precision + Recall)

Here is the confusion matrix of a text classfication task (six categories) on the testing data.

In [12]:
#### You code here

def metrics(actual_value, predicted_value):

  if actual_value == 1 and predicted_value == 1:
    true_positive = sum(actual_value) + sum(predicted_value)
  
  if actual_value == 0 and predicted_value == 0:
    true_negative = sum(actual_value) + sum(predicted_value)

  if actual_value == 1 and predicted_value == 0:
    false_negative = sum(actual_value) + sum(predicted_value)

  if actual_value == 0 and predicted_value == 1:
    false_positive = sum(actual_value) + sum(predicted_value)
    
  return true_positive, true_negative, false_negative, false_positive


def accuracy(true_positive, true_negative, false_negative, false_positive):
  return ((true_positive + true_negative) * 100) / true_positive + true_negative + false_negative + false_positive


def precision(true_positive, false_positive):
  return(true_positive * 100) / true_positive + false_positive


def recall(true_positive, false_negative):
  return (true_positive * 100) / true_positive + false_negative


def f1_score(true_positive, true_negative, false_negative, false_positive):
  prec = precision(true_positive, false_positive)/100
  recll = recall(true_positive, false_negative)/100
  f1_score = (2*prec*recll)/prec+recll
  return f1_score

<span style='background:yellow'>**Question 3 (200 pt).**</span> 

Part A: Given Inetd dataset, an intrusion detection dataset that contains 2 columns. The first column represents a process ID number (PID) and the second column represents a system call. The goal is to extract the entire system call sequence by its PID, then tokenize and parse each sequence into 25-grams. After this, we’ll split the data into training and testing sets. Next, we ensure data quality in the training dataset by removing duplicate sequences within each class and overlapped sequences between both classes. To ensure a fair evaluation, we also clean the testing set by repeating the previous step. You will implement a Decision Tree model to train and test on the training set and testing set that we just clean. 


Part B: As the data type is sequential, we want to know how similar the sequences from both classes are and visualize how the similarity scores vary in different sequence lengths. Compute a cosine similarity score of 100 random pairs from both classes and get a median cosine similarity. Repeat this step in different sequence lengths (5, 10, 15, and 20). Plot a line chart to visualize how the median cosine similarities vary through sequence lengths of 5 to 25. 

You can download the datasets from github: https://github.com/unt-iialab/info5502-spring2022/tree/main/finalexam/q4


Step by step instructions and questions:

(1)(30 points) Attached are the Normal and Intrusion data folders. Read in the data and store them in two separate dataframes. Combine the system calls (the second column) from the same PID (the first column) into a sequence or a string. 

(2)(30 points) Parse an entire sequence into smaller sequences of size 25. (Hint: Use word_tokenize and ngrams from nltk library to parse).

(3)(30 points) Add labels to the data, and partition the labeled data into training data and testing data with a ratio of 70/30.

(4)(30 points) As the dataset has a lot of duplicate sequences, make sure that the testing data only contain unique sequences and that these sequences do not exist in the training data. Condense training data and testing data into two sets. Take the difference between the testing set and training set to remove the overlapped sequences from the testing data. 

(5)(30 points) The sequences from each class can be repetitive, and some of these sequences may have different labels. Therefore, we need to remove the duplicate sequences within each class and the overlapped sequences from the Intrusion class. Start out by separating the Normal class and Intrusion class in both training and testing data. Use the same concept in Question 4 to remove duplicate sequences and overlapped sequences from the training data.


(6)(50 points) Bootstrap the training data to get the same number of sequences from each class. Train and evaluate a Decision Tree model using the training data and testing data that we just clean. How is the performance?

In [45]:
#### You code here


#(1)

df_normal = pd.read_csv('/content/inetd-intrusion.int.txt')
df_intrusion = pd.read_csv('/content/inetd-intrusion.int.txt')

<span style='background:yellow'>**Question 4 (100 pt).**</span> In the world of business, the importance of the customers’ reviews for any product is not ignorable. The impact of customers’ reviews on customer’s decision making is significant. Therefore, businesses try to increase this impact by increasing the ratio of the positive reviews to negative reviews. One effective way to increase the ratio is offering the incentives such as small gifts or free next services to customers to post the reviews for item they purchase or used. However, it is not always the case, and customer may post their reviews without receiving or accepting the incentives. So, the reviews could be in either incentivized or non-incentivized category.


Considering the importance of reviews, in this question you need to compare these two categories of reviews. One method to compare the effectiveness of two categories is conducting the A/B testing.


The Software_Reviews dataset is collected from software review products, and it is combination of several small datasets. Find the dataset as an attachment on the left side of the page.


You can downlaod the dataset from github: https://github.com/unt-iialab/info5502-spring2022/blob/main/finalexam/Software_Reviews_csv_files_S.csv

(1)(50 points) Clean the dataset before you use (You need to know this dataset is combinations of the several CSV files with title rows. So, there are extra title rows in the middle of the file, which they need to be removed.)


(2)(50 points) Apply an A/B test": consider the “incentivized” column as main column for A & B groups.

a. The “incentivized” column includes ‘NominalGift’, ‘VendorReferredIncentivized’, ‘NoIncentive’, ‘NonNominalGift’, ‘VendorReferred’, ‘None’

b. Group A (Incentive): ‘NominalGift’, and ‘VendorReferredIncentivized’

c. Group B (NoIncentive): ‘NoIncentive’, ‘NonNominalGift’, ‘VendorReferred’

d. Make the decision if ‘None’ includes in either Group A or B or remove that.

e. The “OverAllRating” is another column that is used to compare groups A and B.

Which one A or B group has higher “OverAllRating”?

In [72]:
#### You code and your answer here here




df_soft_reviews = pd.read_csv('/content/Software_Reviews_csv_files_S.csv')
df_soft_reviews = df_soft_reviews.dropna()
df_soft_reviews.head(2)

,Unnamed: 0,Unnamed: 0.1,id,status,global_review_id,hash_global_review_id,listing_id,title,is_rating,score,...,is_verified,full_name,company_industry,frequency_of_use,time_used,source,incentivized,ReviewDescription_score,Pros_score,Unnamed: 27
1,1.0,1,1283833,Published,SoftwareAdvice___434035,8b72a5b935,90666,Reasonable CRM software for small businesses,FALSE,4.462893,...,FALSE,Rushang D.,Marketing and Advertising,daily,2+ years,SoftwareAdvice,NominalGift,0.998566568,0.99880743,1711777.000
2,2.0,2,841881,Published,Capterra___330384,0d580775b7,90666,"Security certificate warning, basic lists inac...",FALSE,4.462893,...,FALSE,Julian G.,Computer Hardware,daily,6-12 months,Capterra,NominalGift,0.999743998,0.996420145,1122507.333

In [60]:
for col in df_soft_reviews.columns:
  print('Columns:-', col)
  print('# of row:', df_soft_reviews[col].shape[0])
  print('# of unique values:', df_soft_reviews[col].value_counts().shape[0])
  print(df_soft_reviews[col].value_counts())
  print()

Columns:- Unnamed: 0
# of row: 2084
# of unique values: 1330
1.0      8
3.0      8
24.0     7
2.0      7
50.0     7
        ..
794.0    1
795.0    1
796.0    1
798.0    1
401.0    1
Name: Unnamed: 0, Length: 1330, dtype: int64

Columns:- Unnamed: 0.1
# of row: 2084
# of unique values: 1330
1      8
3      8
24     7
2      7
50     7
      ..
794    1
795    1
796    1
798    1
401    1
Name: Unnamed: 0.1, Length: 1330, dtype: int64

Columns:- id
# of row: 2084
# of unique values: 2084
1283833    1
8452166    1
6922067    1
2654483    1
3954319    1
          ..
8392734    1
5942079    1
8669939    1
3296935    1
8132915    1
Name: id, Length: 2084, dtype: int64

Columns:- status
# of row: 2084
# of unique values: 1
Published    2084
Name: status, dtype: int64

Columns:- global_review_id
# of row: 2084
# of unique values: 2084
SoftwareAdvice___434035     1
Capterra___2977147          1
SoftwareAdvice___2464391    1
Capterra___1423272          1
Capterra___1736026          1
                           ..
Capterra___2917439          1
Capterra___2222927          1
Capterra___3194665          1
SoftwareAdvice___1579469    1
Capterra___2763474          1
Name: global_review_id, Length: 2084, dtype: int64

Columns:- hash_global_review_id
# of row: 2084
# of unique values: 2084
8b72a5b935    1
6a97e6c1e3    1
e5da341bd8    1
a6b9a81b36    1
623986dfc5    1
             ..
a6a5576a2c    1
32b895166d    1
4dd8c17750    1
6d3251c52d    1
f9344570c9    1
Name: hash_global_review_id, Length: 2084, dtype: int64

Columns:- listing_id
# of row: 2084
# of unique values: 12
2348      1284
91203      335
102073     215
111629      75
106031      49
90405       48
10362       31
90666       19
44          19
121271       5
8255         3
91221        1
Name: listing_id, dtype: int64

Columns:- title
# of row: 2084
# of unique values: 1976
My ActiveCampaign Review               18
Active Campaign Review                  7
ActiveCampaign Review                   7
My Active Campaign Review               6
Review                                  6
                                       ..
I recommend it to everyone!             1
Consolidated so many tools into one     1
A Powerful, Affordable Package          1
A good all-rounder                      1
User-friendly database                  1
Name: title, Length: 1976, dtype: int64

Columns:- is_rating
# of row: 2084
# of unique values: 1
FALSE    2084
Name: is_rating, dtype: int64

Columns:- score
# of row: 2084
# of unique values: 1
4.462893    2084
Name: score, dtype: int64

Columns:- created
# of row: 2084
# of unique values: 963
1/29/2019     17
6/2/2020      11
6/8/2020      11
6/3/2020      10
6/9/2020      10
              ..
6/6/2021       1
10/30/2021     1
12/20/2019     1
9/22/2019      1
3/16/2021      1
Name: created, Length: 963, dtype: int64

Columns:- OverAllRating
# of row: 2084
# of unique values: 5
5    1325
4     520
3     135
1      54
2      50
Name: OverAllRating, dtype: int64

Columns:- Value For Money
# of row: 2084
# of unique values: 6
5    1032
4     474
0     291
3     169
1      65
2      53
Name: Value For Money, dtype: int64

Columns:- Ease of Use
# of row: 2084
# of unique values: 5
5    980
4    705
3    275
2     74
1     50
Name: Ease of Use, dtype: int64

Columns:- Features
# of row: 2084
# of unique values: 5
5    1156
4     640
3     176
2      63
1      49
Name: Features, dtype: int64

Columns:- Customer Support
# of row: 2084
# of unique values: 6
5    1087
0     351
4     341
3     133
1     112
2      60
Name: Customer Support, dtype: int64

Columns:- Likelihood to recommned
# of row: 2084
# of unique values: 11
10    824
8     378
9     371
7     178
0      96
6      83
5      72
3      25
4      24
2      20
1      13
Name: Likelihood to recommned, dtype: int64

Columns:- isAnonymous
# of row: 2084
# of unique values: 2
FALSE    1833
TRUE      251
Name: isAnonymous, dtype: int64

Columns:- is_verified
# of row: 2084
# of unique values: 2
FALSE    2028
TRUE       56
Name: is_verified, dtype: int64

Columns:- full_name
# of row: 2084
# of unique values: 1700
Anonymous Reviewer    251
David P.                4
Michael H.              4
Michael R.              3
John M.                 3
                     ...
Jackie K.               1
Natalie M.              1
Wisdom M.               1
jorge A.                1
Justine A.              1
Name: full_name, Length: 1700, dtype: int64

Columns:- company_industry
# of row: 2084
# of unique values: 118
Marketing and Advertising              360
Health, Wellness and Fitness           160
E-Learning                             101
Computer Software                       94
Information Technology and Services     91
                                      ...
Computer Games                           1
Semiconductors                           1
Plastics                                 1
Nanotechnology                           1
International Trade and Development      1
Name: company_industry, Length: 118, dtype: int64

Columns:- frequency_of_use
# of row: 2084
# of unique values: 4
daily      1169
weekly      656
monthly     145
other       114
Name: frequency_of_use, dtype: int64

Columns:- time_used
# of row: 2084
# of unique values: 5
Less than 6 months    607
2+ years              550
6-12 months           491
1-2 years             380
Free Trial             56
Name: time_used, dtype: int64

Columns:- source
# of row: 2084
# of unique values: 3
Capterra          1880
SoftwareAdvice     148
GetApp              56
Name: source, dtype: int64

Columns:- incentivized
# of row: 2084
# of unique values: 4
NoIncentive                   1207
NominalGift                    850
VendorReferredIncentivized      26
VendorReferred                   1
Name: incentivized, dtype: int64

Columns:- ReviewDescription_score
# of row: 2084
# of unique values: 1987
0.502094984    6
0.988427341    6
0.993717551    5
0.999866009    4
0.994689345    4
              ..
0.998054624    1
0.998105764    1
0.998089015    1
0.998725951    1
0.999624252    1
Name: ReviewDescription_score, Length: 1987, dtype: int64

Columns:- Pros_score
# of row: 2084
# of unique values: 2061
0.748120904    4
0.999779403    2
0.996939659    2
0.999427855    2
0.999512434    2
              ..
0.985691369    1
0.807908237    1
0.999480903    1
0.998952866    1
0.965517938    1
Name: Pros_score, Length: 2061, dtype: int64

Columns:- Unnamed: 27
# of row: 2084
# of unique values: 2084
1.711777e+06    1
1.126952e+07    1
9.229393e+06    1
3.539281e+06    1
5.272397e+06    1
               ..
1.119008e+07    1
7.922542e+06    1
1.155969e+07    1
4.395685e+06    1
1.084387e+07    1
Name: Unnamed: 27, Length: 2084, dtype: int64

In [73]:
df_soft_reviews.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'status','global_review_id','hash_global_review_id', 
                              'listing_id', 'is_rating', 'score','Unnamed: 27'], inplace=True)

In [74]:
df_soft_reviews.head()

,id,title,created,OverAllRating,Value For Money,Ease of Use,Features,Customer Support,Likelihood to recommned,isAnonymous,is_verified,full_name,company_industry,frequency_of_use,time_used,source,incentivized,ReviewDescription_score,Pros_score
1,1283833,Reasonable CRM software for small businesses,6/22/2018,4,5,4,4,3,9,FALSE,FALSE,Rushang D.,Marketing and Advertising,daily,2+ years,SoftwareAdvice,NominalGift,0.998566568,0.99880743
2,841881,"Security certificate warning, basic lists inac...",12/20/2017,1,1,1,1,1,0,FALSE,FALSE,Julian G.,Computer Hardware,daily,6-12 months,Capterra,NominalGift,0.999743998,0.996420145
3,1060237,1CRM is a great started CRM for a Service Company,4/4/2018,4,5,3,3,3,8,FALSE,FALSE,James C.,Management Consulting,daily,1-2 years,SoftwareAdvice,NominalGift,0.938319802,0.986604214
10,1301781,Great software that covers a lot of situations,6/27/2018,5,0,4,4,0,9,FALSE,FALSE,Eduardo D.,Telecommunications,daily,2+ years,SoftwareAdvice,NoIncentive,0.792923093,0.957252979
14,761397,Amazing support,10/24/2017,5,5,5,5,5,10,FALSE,FALSE,marcus y.,Computer Software,daily,2+ years,SoftwareAdvice,NoIncentive,0.99984467,0.976857305